.image-preview img{
    border-top: 15px solid #85ceed;
    border-right: 15px solid lightpink;
    border-bottom: 15px solid lightgreen;
    border-left: 15px solid #ffefd5;
}
body {
    font-family: Arial, sans-serif;
    
}
th, td {
    border: 1px solid black;
    padding: 5px;
}

th {
    background-color: #333;
    color: white;
}

.highlight {
    background-color: #f4f4f4;
    font-weight: bold;
}